.customNav {
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 10;
    color: white;
    
}
  
.navbar-nav {
    margin-left: 75%;
}

.nav-item {
    margin:0px 15px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    
   
}

.navbar-brand {
    color: white;
    font-family: 'Merriweather', serif;
}

a.nav-link {
    color: white;
}

.introBackground {
    background-image: url(../images/stock\ up\ hero.png);
    background-position: center;
    background-color: #E8B486;
   background-size:contain;
    background-repeat: no-repeat;
    height: 500px;
    height: calc(100vh - 25px);
    display: flex;
    
   
}



.research {
    padding: 30px 30px 30px 30px;
}

.content {
    padding: 50px;
}


.jumbotron {
    width: 100%;
    
}




.cardContainer {
    margin-top: 40px;
    
}

.cardImg {
width: 50%;

}

.cards {
text-align: center;
}

.card-text {
text-align: left;
padding: 30px;
}


.card-bod {
padding-bottom: 80px;
}

.sectionHead {
text-align: center;
padding: 5px;
}


.iteration {
display:flex;
padding: 40px;
}

.media-body1 {
padding-top: 15%;
padding-left: 100px;
}

.media-body2 {
padding-top: 10%;
padding-left: 100px;
}

.media-body3 {
padding-top: 10%;
padding-left: 100px;
}

.sectionHead2 {
text-align: center;
padding: 45px;
}

.container {
padding-bottom: 100px;
}